<br>
<label> Your ID (required):
<i>A way of identifying your print job. This can be your name, your library card number, or anything else you choose, but you <b>must</b> remember it when you come to pick up your prints.</i>
[text* your-id] </label>
<br>
<label>Select a printer (required):
[select* menu-711 include_blank "Black & White (10&cent;/page)|BW" "Color (25&cent;/page)|Color"]</label>
<br>
<label>Number of copies <i>&lpar;1&ndash;10&rpar;</i>&colon;
[number* number-copies min:1 max:10 "1"]</label>
<br>
<label>Upload a file (5mb max):
<i>Allowed file types: .pdf, .odt, .doc, .docx, .rtf, .jpeg, .jpe, .jpg, .gif, .png, .tif, .tiff</i>
[file print-file limit:5mb filetypes:pdf|doc|docx|jpeg|jpg|jpe|gif|png|tif|tiff|odt|rtf]</label>
<br>
<label>Captcha (case insensitive):
<i>If submitting multiple documents, refresh the captcha by clicking the green arrows.</i>
[securimage_wp]</label>

[submit "Send"]
